<!--<div id="header-image-menu">-->
<!--  <img-->
<!--    src="https://media.istockphoto.com/id/1164222265/vector/digital-technology-gaming-abstract-background.jpg?s=612x612&w=0&k=20&c=WNdyB6Htu8NZg_ZdCN0XzzCEh-sQeSrKkCYLZcKs6eM="-->
<!--  />-->
<!--</div>-->


<div class="w3-content w3-section" >
  <img class="mySlides" src="https://media.istockphoto.com/id/1164222265/vector/digital-technology-gaming-abstract-background.jpg?s=612x612&w=0&k=20&c=WNdyB6Htu8NZg_ZdCN0XzzCEh-sQeSrKkCYLZcKs6eM=">
  <img class="mySlides" src="https://img.freepik.com/free-vector/games-time-neon-text-with-gamepad_1262-15457.jpg?w=2000">
</div>

<!-- https://media.istockphoto.com/id/1164222265/vector/digital-technology-gaming-abstract-background.jpg?s=612x612&w=0&k=20&c=WNdyB6Htu8NZg_ZdCN0XzzCEh-sQeSrKkCYLZcKs6eM=
https://img.freepik.com/free-vector/games-time-neon-text-with-gamepad_1262-15457.jpg?auto=format&h=200
https://img.freepik.com/free-vector/games-time-neon-text-with-gamepad_1262-15457.jpg?auto=format&h=200
-->
