/*.row {*/
/*  display: flex;*/
/*  padding-bottom: 10px;*/
/*}*/

/*.column {*/
/*  flex: 50%;*/
/*}*/


.column{
  height: content-box;
}

.row{
  column-count: 2;
  padding-top: 25px;
  padding-right: 10px;
}


input::placeholder{
  color: #0b0a0c;
}

input{
  background-color: #401f9a;

}

button:active{
  background-color: white;
}

button{
  border-radius: 6px;
  background-color: #401f9a;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #401f9a;
  color: white;
}
