.column{
  height: content-box;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}


input::placeholder{
  color: white;
}

input{
  background-color: rgb(3, 3, 30);
  color: white;
}

button:active{
  background-color: #5d5b5b;
}

button:hover{
  background-color: #5d5b5b;
}

button{
  border-radius: 6px;
  background-color: rgb(3, 3, 30);
  color: white;
  border: white;
}

.my-pagination ::ng-deep .current  {
  background: rgb(3, 3, 30);
  color: white;
  margin: 0 !important;
}
