.footer{
  display: flex;
  justify-content: right;
  width: 100%;
  background-color: rgb(12, 20, 44);
  color: red;
  padding:10px 0px;
}

a{
  text-decoration: none;
  color: red;
  padding-right: 40px;
}

a:hover{
  color: gray;
}



